.balance {
  text-align: center;
}

.balanceBox h3 {
  display: inline;
  text-align: center;
  background-color: white;
  width: 5%;
  border: 2px solid black;
  padding: 5px;
}
.newAccount {
  float: left;
  background-color: #65B859;
  color: white;
}

.depositWithdraw{
  float: right;
  background-color: #65B859;
  color: white;
}
#btns{
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}
